.anime-container {
    position: relative;
    width: fit-content;
    height: 318px;
    transition: all 0.2s ease-out;
}

.anime-container img {
    margin: 0;
    height: 318px;
    width: 225px;
}

.anime-container:hover {
    transform: scale(1.04);
}

.anime-container p {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    position: absolute;
    padding: 8px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #fff;
    font-weight: 600;
}