* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #000;
}